services:
  portainer:
    container_name: portainer
    image: "portainer/portainer-ce:latest"
    restart: always
    ports:
      - "8000:8000"
      - "9000:9000"
    environment:
      - AGENT_SECRET=${AGENT_SECRET}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./data/:/data"
      # - "./public/:/public"
