services:
  frpp-master:
    image: vaalacat/frp-panel:latest
    container_name: frpp-master
    network_mode: host
    environment:
      APP_GLOBAL_SECRET: your_secret  # 随便输入一些随机字符，不要泄露
      MASTER_RPC_HOST: 1.2.3.4        # 服务器的外部 IP 或域名
      MASTER_RPC_PORT: 9001           # RPC 监听端口
      MASTER_API_HOST: 1.2.3.4        # 服务器的外部 IP 或域名
      MASTER_API_PORT: 9000           # API/WebUI监听端口
      # CLIENT_RPC_URL 和 CLIENT_API_URL 请根据实际情况设置，设置为外部可以通过 url 访问到 master 的形式
      # Client 连接 master RPC 的 URL，如果使用反向代理，请设置为通过反向代理访问的 URL（如wss://example.com:443）
      CLIENT_RPC_URL: grpc://1.2.3.4:9001
      # Client 连接 master API/WebUI 的 URL，如果使用反向代理，请设置为通过反向代理访问的 URL（如https://example.com:443）
      CLIENT_API_URL: http://1.2.3.4:9000
    volumes:
      - ./data:/data # 数据存储位置
    restart: unless-stopped
    command: master
