services:
  openlist:
    container_name: openlist
    image: "openlistteam/openlist:latest"
    user: '0:0'
    restart: always
    ports:
      - "5244:5244"
    volumes:
      - "./data:/opt/openlist/data"
    environment:
      - UMASK=022
